.configuration-tab{
    margin: 1% calc(15%/1.5);
    /* border-left: 1px solid rgba(128, 128, 128, 0.192); */
    border: 1px solid rgba(128, 128, 128, 0.192);
    padding: 2rem calc(1rem + 1%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.config-checkbox{
    padding: 1em;
}
.config-buttons{
    display: flex;
    justify-content: space-between;
}